<a href="https://colab.research.google.com/github/sneer-chase-scouting-descent/hacked-beta-logistic-aggression/blob/main/ML_Hackathon_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the necessary libraries**

- Pandas: data manipulation and analysis
- Numpy: math & equations with arrays
- Matplotlib: Shows graphs and plots, pyplot is a module in it that allows for more graphical work.

In [ ]:
import pandas as pandas
import numpy as numpy
import matplotlib.pyplot as plot

**Importing the dataset**

- A DataFrame is pandas' representation of a chart. To display data from a csv file into a DataFrame we use the .read_csv( ) functon.

- To specify areas of chart to a variable, use the .iloc method, .iloc[start row:end row , start column: end column]. .values takes just the terms.

In [ ]:
Data = pandas.read_csv('Rcardiotrain.csv')
x = Data.iloc[:, :-1]
y = Data.iloc[:, -1]
print(x[0:20])
print(' ')
print(y[0:20])

    18393  2  168     62  110   80  1  1.1  0  0.1  1.2
0   20228  1  156   85.0  140   90  3    1  0    0    1
1   18857  1  165   64.0  130   70  3    1  0    0    0
2   17623  2  169   82.0  150  100  1    1  0    0    1
3   17474  1  156   56.0  100   60  1    1  0    0    0
4   21914  1  151   67.0  120   80  2    2  0    0    0
5   22113  1  157   93.0  130   80  3    1  0    0    1
6   22584  2  178   95.0  130   90  3    3  0    0    1
7   17668  1  158   71.0  110   70  1    1  0    0    1
8   19834  1  164   68.0  110   60  1    1  0    0    0
9   22530  1  169   80.0  120   80  1    1  0    0    1
10  18815  2  173   60.0  120   80  1    1  0    0    1
11  14791  2  165   60.0  120   80  1    1  0    0    0
12  19809  1  158   78.0  110   70  1    1  0    0    1
13  14532  2  181   95.0  130   90  1    1  1    1    1
14  16782  2  172  112.0  120   80  1    1  0    0    0
15  21296  1  170   75.0  130   70  1    1  0    0    0
16  16747  1  158   52.0  110   70  1    3  0    0    1
17  17482  1  154   68.0  100   70  1    1  0    0    0
18  21755  2  162   56.0  120   70  1    1  1    0    1
19  19778  2  163   83.0  120   80  1    1  0    0    1

0     1
1     1
2     1
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    0
16    0
17    0
18    0
19    0
Name: 0.2, dtype: int64